#house{
  position: relative;
  width: 500px;
  height: 400px;
  background-color: darkgrey;
  border: 10px solid grey;
  margin: 100px auto;
}
#house div{
  position: absolute;
}
#roof{
  background-color: #3f5d4f;
  top: 0;
  left: 0;
 width: 96%;
 height:80px;
 border: 10px solid grey;
}
#chimney{
  z-index: -1;
background-color: #3f5d4f;
 width: 50px;
 height: 50px;
 border: 10px solid grey;
 top: -50px;
 left: 350px;
}
#window-1{
  background-color: #FFFF8F;
 width: 100px;
 height: 100px;
 border: 10px solid grey;
 top: 150px;
 left:30px
}
#window-2{
  background-color: #FFFF8F;
 width: 100px;
 height: 100px;
 border: 10px solid grey;
 top: 150px;
 left:340px
}
#door{
  background-color: #3f5d4f;
 width: 100px;
 height: 200px;
 border: 10px solid grey;
 bottom: 0;
 left: 190px;
}
